*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    overflow-y: hidden;
  }

@font-face {
     font-family: helveticaneue;
     src: url(../fonts/HelveticaNeue.woff),
          url(../fonts/HelveticaNeue.woff2);
}

@font-face {
     font-family: helveticaneue-medium;
     src: url(../fonts/HelveticaNeue-Medium.woff),
          url(../fonts/HelveticaNeue-Medium.woff2);
}

.inactive {
  opacity: 0;
  transition: opacity 1s ease;
}

.active {
  opacity: 1 !important;
  transition: opacity 2s ease;
}

.active-2 {
  opacity: 1 !important;
  margin-left: 0vw !important;
  letter-spacing: -0.02vw !important;
  transition: opacity 2s ease, margin-left 2s cubic-bezier(0.46, 0.22, 0.09, 0.99), letter-spacing 2s cubic-bezier(0.46, 0.22, 0.09, 0.99);
}

.active-3 {
  opacity: 1 !important;
  margin-top: -15vw;
  transition: opacity 2s ease, margin-top 2s cubic-bezier(0.46, 0.22, 0.09, 0.99);
}


body{
  background-color: #F0EACC;
}

.full__page{
  width: 100vw;
}

.first__page {
  position: absolute;
  background-color: white;
  z-index: 0;
  clip: rect(0, auto, auto, 0);
  margin-bottom: 100vh;
  overflow: hidden;
}

.page__head__text {
  font-family: 'helveticaneue-medium';
  font-size: 23.8vw;
  letter-spacing: -1.2vw;
  line-height: 20.7vw;
  font-weight: 500;
  color: rgba(242, 72, 0, .92);
  margin-left: 2.2vw;
  position: fixed;
  bottom: 5px;
  z-index: 1;
  opacity: 0;
}

.nav{
  position: absolute;
  top: 50vh;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  display: flex;
  width: 100vw;
  padding-left: 4vw;
}

.nav p{
  font-family: 'helveticaneue';
  font-size: 1.8vw;
  color: #F24800;
  letter-spacing: -0.02vw;
  line-height: 2.6vw;
  width: 23vw;
}

.nav p:first-child{
  width: 46vw;
  opacity: 0;
}

.nav .second {
  opacity: 0;
}

.nav .third {
  opacity: 0;
}


.background{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: calc(100vh - 17vw);
  z-index: 10;
  background-color: #F0EACC;
  transform: translateY(3vw);
  opacity: 0;
  transition: opacity 2s ease, transform 2s ease;
  transform: translateY(0);
}

.background_1{
    width: 60%;
    align-self: flex-end;
}

.background_1 img{
   width: 100%;
   mix-blend-mode: multiply;
}

.background_2{
    width: 50%;
}

.background_2 img{
   width: 100%;
   mix-blend-mode: multiply;
}

.background_3{
   width: 60%;
   align-self: flex-end;
}

.background_3 img{
   width: 100%;
   mix-blend-mode: multiply;
}

.background_4 {
   width: 100%;
   margin-top: 0;
   transform: translateY(0);
}

.background_4 img{
   width: 100%;
   mix-blend-mode: multiply;
}

.background_5 {
   width: 100%;
   mix-blend-mode: multiply;
   margin-top: -900px;
   transform: translateY(0);
}

.background_5 img {
   width: 100%;
   mix-blend-mode: multiply;
   margin-bottom: -3px;
}

.second__page{
  position: fixed;
  background: #F0EACC;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  transform: translateY(0);
}

.second__page__up{
  display: flex;
  justify-content: space-between;
  padding-top: 2.7vw;
  width: 100vw;
}

.second__page__heading{
  opacity: 1;
}

.second__page__head__text{
  color: #F0EACC;
  position: fixed;
  -webkit-text-stroke: 1.5px #F24800;
  font-family: 'helveticaneue-medium';
  font-size: 23.8vw;
  letter-spacing: -1.2vw;
  line-height: 20.7vw;
  font-weight: 500;
  margin-left: 2.2vw;
  bottom: 5px;
  z-index: 1;
}

.stars{
  color: red;
}

.second__page__text{
  font-family: 'helveticaneue';
  font-size: 1.8vw;
  color: #F24800;
  letter-spacing: -0.02vw;
  line-height: 2.6vw;
  margin-bottom: 0px;
  width: 46vw;
}

.second__page__block__up{
  display: flex;
  flex-direction: column;
  width: 46vw;
  height: auto;
  margin-right: 15px;
}

.second__page__block__up p{
  margin-bottom: 3vw;
}

.second__page__down{
  bottom: 5.1vw;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100vw;
  overflow-x: hidden;
}

.second__page__block__down{
  display: flex;
  width: 46vw;
  margin-right: 10px;
}

.second__page__stars{
  margin-left: 4vw;
  margin-top: 0.34vw;
}

.second__page__stars img{
  width: 3.3vw;
  height: auto;
}

.left{
    margin-right: 40px;
    max-width: 21vw;
}


  @media only screen and (max-width: 768px){
    .nav p{
      font-size: 5vw;
      letter-spacing: -0.09vw;
      line-height: 7vw;
    }

    .page__head__text{
      font-size: 48.3vw;
      letter-spacing: -2.4vw;
      line-height: 52.8vw;
      bottom: 0;
    }

    /* .first__page {
      overflow: auto;
    } */

    .second__page__heading {
      margin-left: 0;
    }

    .second{
      width: 30vw !important;
    }

    .third{
      text-align: right;
      width: 13vw !important;
    }

    .nav{
      padding: 0 5.5%;
    }

    .background{
      margin-top: calc(100vh - 44vw);
      width: 140%;
      margin-left: -40%;
    }

    .second__page{
      flex-direction: column;
      min-height: 100vh;
      overflow-y: auto;
    }

    .second__page::-webkit-scrollbar {
      display: none;
    }

    .second__page__up{
      flex-direction: column;
      margin-bottom: 36vw;
      position: relative;
    }

    .second__page__block__up{
      margin-left: 5vw;
      width: 90vw;
      margin-top: 50vw;
    }

    .second__page__block__up p{
      margin-bottom: 7vw;
    }

    .second__page__head__text{
      font-size: 48.3vw;
      letter-spacing: -2.4vw;
      line-height: 52.8vw;
      bottom: 0;
    }

    .second__page__text{
      font-size: 5vw;
      letter-spacing: -0.09vw;
      line-height: 7vw;
      width: 90vw;
    }

    .second__page__heading{
      padding: 0;
    }

    .second__page__down{
      display: flex;
      flex-direction: column;
      position: relative;
      top: 0;
      margin-top: 36vw;
    }

    .background_5{
      margin-top: -550px;
    }

    .second__page__stars img {
    width: 10.7vw;
    height: auto;
    margin-bottom: 3vw;
}

.second__page__stars{
  margin-left: 5vw;
  width: fit-content;
}

    .second__page__block__down{
      display: inline;
      width: 48.2vw;
      margin-left: 5vw;
    }

    .left{
      margin-right: 0;
      max-width: 30vw;
      margin-bottom: 7vw;
  }

    .left p{
      margin-bottom: 5px;
    }

    .background_1 {
      margin-bottom: 10vw;
      width: 70%;
    }

    .background_2 {
      margin-bottom: 10vw;
      width: 70%;
    }

    .background_3 {
      margin-bottom: 10vw;
      width: 70%;
    }

    .background_4 {
      width: 120%;
    }
}

.inactive {
  opacity: 0;
  transition: opacity 1s ease;
}

.active {
  opacity: 1 !important;
  transition: opacity 2s ease;
}

.active-2 {
  opacity: 1 !important;
  transform: translateY(0);
}

.sepia-color {
  background-color: #F0EACC;
  transition: background-color 5s ease;
}
